.homepage-bg{
background-image:url('/pics/homepage_bg.jpeg');
background-repeat:no-repeat;
background-color:white;
background-size:cover;
width:100%;
height:100vh;
overflow:auto;
padding-right:0
}

.Tabs{
border-bottom:1px solid #f6f6f6
}html[data-theme=dark] 

.Tabs{
border-bottom:1px solid #2e2e2e
}

.Tabs-item{
display:inline-block;
padding:0 20px
}

.Tabs-link{
position:relative;
display:inline-block;
padding:14px 0;
font-size:16px;
line-height:22px;
color:#1a1a1a;
text-align:center
}

.AppHeader
{position:relative;
z-index:100;
min-width:1032px;
overflow:hidden;
background:#fff;
-webkit-box-shadow:0 2px 3px rgba(26,26,26,.1);
box-shadow:0 2px 3px rgba(26,26,26,.1);
background-clip:content-box
}

.AppHeader-inner
{position:relative;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
width:1000px;
height:52px;
padding:0 16px;
margin:0 auto;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-transition:-webkit-transform .3s;
transition:-webkit-transform .3s;
transition:transform .3s;
transition:transform .3s,-webkit-transform .3s
}

.AppHeader-Tabs{
border-bottom:none;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
margin:0 23px
}

.AppHeader-Tab{
padding:0 17px
}

.AppHeader-TabsLink{
color:#8590a6;
font-size:15px
}
